body{
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    height: 80px;
    margin: 0px;
}

#start, #number_of_objects{
    font-size: 25px;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    margin-top: 130px;
    position: center;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e4b3d7;
    line-height: 2;
    text-align: center;
    color: rgb(0, 0, 0);
}